body {
    background-image: url(/img/windowsbg.jpg);
    background-size: cover;
    background-position: center;
}

#thedesktop {
    display: grid;
    height: 95%;
    width: 95%;
    grid-template-rows:auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'c .'
    'c d'
    'c .';
    
}

.theicons{ 
    display: grid;
    height: 1fr;
    width: 1fr;
    grid-area: c; 
    grid-auto-flow: row;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 80px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    'left right';
}

.theicons img{

    max-height: 64px;
    max-width: 7vw;
    min-width: 17vw;
    object-fit: contain;
}

.theicons #left {
    display: grid;
    grid-area: left;
    gap: 100px;
}

.theicons #right {
    display: grid;
    grid-area: right;
    margin-top: 100px;
    gap: 30px;
}


#areafornotepad{
    grid-area: d;
}


#notepad{
    grid-area: areafornotepad;
    display: grid;
    background: radial-gradient(circle, rgba(211, 255, 240, 0.942) 0%, hwb(168 32% 0% / 0.657) 100%);
    width: 270px;
    margin-left: 90px;
    margin-top: 45px;
    padding: 16px;
    border-width: 4px;
    border-style: double;
    

    

}
#notepad header{
    display: flex;
    justify-content: center;
    
    margin-top: -20px;
    font-size: 25px;
    overflow: hidden;
   
}
#notepad main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    'one two';
    margin-top: -10px; 
    
    
}

#notepad main #gif{
    
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: minmax(-7vw);
}


#notepad main #gif img{
    max-width: 100%;
    min-width: 60px;
    height: auto;
    position: relative;
    
}



@media (max-width: 600px) {

   

    .theicons img{
        max-height: 11vw;
    }

    #notepad main #gif{
       margin-bottom: 6px;
    }

}

@media (max-width: 820px){

    .theicons{
        margin-left: -0.1vw
    }

    #notepad main {
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        'one'
        'two';
    }

    #notepad main #gif img{
        height: 1fr;
        width: 1vw;
        margin-bottom: -1vw;
       
    }
}


@media (max-width: 875px) {



    #notepad main #gif img {
        margin-top: -1vw;
    }

    

}

